/*GENERAL*/
.row{
	width: 100%;
	min-width: 100%;
	margin: 0 auto;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
    width: 100%;
}

/*NABVAR*/
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    margin-left: 88px;
}

.navbar-brand img{
	width: 100px;
}

.ml-auto {
    margin-left: auto!important;
    padding-right: 80px;
}
.bg-dark {
    background-color: #EC4863!important;
}

.normal-links{
	text-transform: lowercase;
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	font-size: 17px;	
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}
.nav-high{
    font-weight: 900;
    font-size: 17px;
}

/*SLIDER*/
.intro-img{
	max-width: 100%;
	width: 100%;
}
/*Featured Events*/
.center {
    text-align: center;
    padding-top: 40px;
}

.events-img{
	width: 100%;
	overflow: hidden;
	padding: 10px;
	border-radius: 35px;
}

.home-events-title{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 22px;
}

.ev1 h2 {
	color: white;

}
.events-title {
    background-color: #96d257;
    text-align: center;
    padding: 10px;
}

.events-title h1 {
    font-family: 'Londrina Solid', cursive;
    color: white;
    font-size: 35px;
    margin-bottom: 0;
}

.event-detail{
    transition: all .2s ease-in-out;
    overflow: hidden;
}

.event-detail:hover{
    transform: scale(1.1);
}


.imgdecor{
	width: 30px;
}

.events-button-bg{
    height: 80px;
    background-image: url(../images/submit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10%;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}

.btn2 {
    margin-top: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    border: 0;
    padding: 5px 30px 5px 30px;
    font-weight: 700;
    background-color: #ec4863;
    color: white;
    border-radius: 15px;
    font-size: 20px;
    line-height: 4;
    transition: all .2s ease-in-out;
    
}

.btn2:hover {
	text-decoration: none;
	transform: scale(1.1);
	background-color: white;
	font-size: 22;
	color: #ec4863;
	
}

/*ALL SECTION TITLES STYLES*/
.sec-title{
	font-family: 'Londrina Solid', cursive;
	font-size: 35px;
	color: white;
	margin-bottom: 0;
}

.title-img{
	width: 23px;
}

/*HISTORICAL MONUMENTS*/
.history{
	padding-top: 40px;
	background-color: #2ABABA;
	padding-top: 40px;
	padding-bottom: 40px;
}

.hi-img{
	width: 90%;
	border-radius: 20px;
	overflow: hidden;
}

.hi-title{
	color: white;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	font-size: 28px;
}

.hi-text {
    color: white;
    font-family: 'Nunito', sans-serif;
    line-height: 130%;
    font-size: 17px;
    font-weight: 600;
    text-align: justify;
}

.slick-prev:before {
  padding: 5px;
}
.slick-next:before {
  padding: 5px;
}

.align2{
	text-align: center;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

@media (min-width: 1200px)
_grid.scss:18
.container {
    max-width: 1139px;
}

/*FOOTER*/
.footer{
	background-color: #f7f6f6;
}
.foo2{
	padding: 20px;
	margin: 0 auto;
}

.fooimg {
    width: 80px;
}

.socials {
    line-height: 4;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.socials img {
    margin-right: 10px;
}

.socials p{
	margin-bottom: 0;
}










